.container {
    width: 800px;
    height: 650px;
    border-top: 1px solid var(--color-grey);
    margin-top: 2rem;
}

.infoContainer {
    display: flex;
    border-bottom: 1px solid var(--color-grey);
}

.infoNum {
    flex-grow: 1;
    text-align: center;
}

.infoTitle {
    flex-grow: 8;
    text-align: center;
}

.infoCreatedDate {
    flex-grow: 3;
    text-align: center;
}

.infoView {
    flex-grow: 1;
}

.noContent {
    text-align:center;
    font-size: 3rem;
    color: var(--color-grey);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 16px;
}

.btn {
    border: none;
    padding: 8px;
    background: white;
    color: black;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 100%;
}

.btn:hover {
    cursor: pointer;
}

[aria-current="page"] {
    background-color: var(--color-royal-blue);
    color: white;
    font-weight: bold;
    pointer-events: none;
    cursor: not-allowed; 
}

.loadingSpinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}