.container {
    width: 800px;
    border-bottom: 1px solid var(--color-grey);
    display: flex;
    align-items: center;
    user-select:none
}

.container:hover {
    background-color: var(--color-light-grey);
    cursor: pointer;
    filter: brightness(0.8);
}

.selectedContainer {
    background-color: var(--color-light-grey);
    pointer-event: none;
    filter: brightness(0.8);
}

.commentNum {
    width: 70px;
    text-align: center;
}

.commentSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 490px;
}

.comment {
    text-align: center;
    max-width:400px;
    white-space: nowrap;
    overflow: hidden;          
    text-overflow: ellipsis;   
}

.postInfo {
    display: flex;
    margin-top :0.5rem;
}

.postCommentCounter {
    color:red;
}

.postTitle {
    text-align: center;
    max-width:400px;
    overflow: hidden;          
    text-overflow: ellipsis;  
    color: var(--color-grey);
}

.commentCreatedDate {
    width: 225px;
    text-align: center;
}
