.container {
    margin-bottom: 0.5rem;
    position: relative;
    display: flex;
    align-items: enter;
}

.inputContainer {
    width: 100%; 
    padding: 0.75rem; 
    transition-property: background-color;
    transition-duration: 0.2s; 
    border: 1px solid #cbd5e0; 
    border-radius: 0.25rem; 
    background-color: var(--color-light-grey);
    flex-grow: 1;
}

.viewBtn {
    background: none;
    border: none;
    position: absolute;
    top: 8px;
    right: 10px; 
    cursor: pointer;    
    font-size: 25px;
}

.inputContainer:focus {
    background-color: white;
}

.inputContainer:hover {
    background-color: white;
}

.inputError {
    border-color: red;
}

.errorMsg {
    font-weight: 500; 
    color: red;
}