:root {
  --color-grey: #718096; 
  --color-light-grey: #f7fafc; 
  --color-text: #22243b;
  --color-accent: RGB(242, 242, 242);
  --color-blue:  #007bff;
  --color-border: #F4F5F7;


  --text-accent: "PT Sans", sans-serif;
  --text-main: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: var(--text-main);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
  padding: 0;
}

button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, span {
  margin: 0;
  /* white-space: nowrap;   
  overflow: hidden;       
  text-overflow: ellipsis; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #eeeaeb;
  border-radius: 10px;
  border: 3px solid #ffffff;
}