.searchFriendsContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 8rem;
    height: 100vh;
}

.searchFriendsSubContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.taskContainer {
    margin-bottom: 0.5rem;
    width: 450px;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.taskBtn {
    background-color:white;
    border: 1px solid var(--color-royal-blue);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-familiy: var(--text-main);
    font-weight: solid;
    font-size: 1.1rem;
}

.selectedTask {
    background-color:var(--color-royal-blue);
    color: white;
    border: 1px solid var(--color-grey);
}

.selectedTask:hover {
    filter:brightness(1);
    pointer-events: none;
}

.pageName {
    align-self: flex-start;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--text-accent);
    color: var(--color-royal-blue);
}

.searchFriendsBar {
    height: 3rem;
    width: 450px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: #DAE0E6;
    font-color: white;
}

.searchResultsContainer {
    margin-top: 0.5rem;
    border: 1px solid var(--color-grey);
    border-radius:0.5rem;
    height: 350px;
    width: 450px;
    overflow:auto;
}

.searchResultsTitle {
    padding: 0.5rem;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--color-grey);
    border-radius: 0.5rem;
}

.errorMsg {
    font-weight: 500; 
    color: red;
}

.noContent {
    line-height: 300px;
    text-align: center;
    color: lightgrey;
    font-weight: bold;
    font-size: 2rem;
    
}