.commentsContainer {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #007bff;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 16px;
}

.btn {
    border: none;
    padding: 8px;
    background: white;
    border: 1px solid var(--color-grey);
    color: black;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
}

[aria-current="page"] {
    background: var(--color-blue);
    color: white;
    font-weight: bold;
    pointer-events: none;
    cursor: not-allowed; 
}

.comment {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.comment small {
    font-size: 14px;
    color: #888;
}

.commentName {
    color: #4299e1; 
    text-decoration: none;
}

.commentContent {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    resize: none;
    min-height: 100px;
    font-size: 14px;
    margin-top: 0.5rem;
}

.commentBtn {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    height: 40px;
    align-self: flex-end;
}

.commentBtn:disabled {
    background-color: var(--color-grey);
    filter: brightness(1);
    cursor: not-allowed;
}
