.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 610px;
    height: 58px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin-bottom: 3rem;
}

.myImg {
    width: 40px;
    height: 40px;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 100%;
    border: 1px solid grey;
}

.linker {
    flex-grow: 1;
    height: 40px;
    background-color: var(--color-light-grey);
    border: none;
    border-radius: 0.5rem;
}


.linker:hover {
    outline: 1px solid var(--color-base);
}

.createBtn {
    height: 40px;
    width: 60px;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-royal-blue);
    color: white;
}

.linker:focused {
    border: 1px solid orange;
}