.container {
    display: flex;
    height: 80px;
    align-items:center;
    border-bottom: 1px solid #A7A7A7;
}

.lastContainer {
    border-bottom: none;
}


.container:hover {
    background-color: var(--color-light-grey);
    filter: brightness(0.8);
    cursor: pointer;
}

.selectedContainer {
    background-color: var(--color-light-grey);
    filter: brightness(0.8);
    pointer-events: none;
}

.selectedContainer:hover {
    filter: brightness(0.8);
}

.postNum {
    width: 25px;
    text-align: center;
}

/* .postImg {
    height: 78px;
    width: 78px;

} */

.iconImg, .postImg {
    height: 79px;
    width: 78px;
    border-right:1px solid var(--color-grey);
    border-left:1px solid var(--color-grey);
}

.title {
    padding-left: 0.5rem;
    font-size:1.5rem;
    width: 165px;
    overflow: hidden;         
    white-space: nowrap;
    text-overflow: ellipsis;  
}

em {
    color:var(--color-orange);
}

.commentIcon {
    
}
.commentCounter {
    color: red;
    padding-left: 0.5rem;
    height: 80px;
    display:flex;
    align-items:center;
    width: 60px;
}
.author {
    width: 150px;
    padding-right: 1rem;
    overflow: hidden;         
    white-space: nowrap;
    text-overflow: ellipsis;  
}
.createdAt {
    padding-right: 0.5rem;
    width: 165px;
}

.views {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 80px;
    display:flex;
    align-items:center;
}

.deletedPost {
    display: flex;
    height: 80px;
    border-left: 1px solid #A7A7A7;
    justify-content:center;
    align-items: center;
    flex-grow:1;
    font-size: 2rem;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #A7A7A7 15px, #fbfffa 15px);
    color: var(--color-base);
}

.deletedContainer {
    display: flex;
    height: 80px;
    align-items:center;
    border-bottom: 1px solid #A7A7A7;
}

.deletedLastContainer {
    border-bottom: none;
}

.deletedContainer:hover {
    cursor: not-allowed;
    filter: none;
    pointer-events: none;
}