.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: var(--color-orange);
    font-size: 2rem; 
    margin-left: 1rem;
    margin-right: 0.3rem;
}