.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid var(--color-border);
}

.titleContainer {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid var(--color-border);
    background-color: orange;
    color: white;
    font-weight:bold;
    font-family: var(--text-accent);
}

.title {
    font-family: var(--text-accent);
    font-size: 1.5rem;
    flex-grow:1;
    margin-left: 0.5rem;
}