.chatScreen {
    display:flex;
    flex-direction: column;
    border-top: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
    flex-grow:1;
    height: 100%;
    overflow: hidden;
}

.titleContainer {
    height: 45px;
    flex-shrink:0;
    border-bottom: 2px solid var(--color-border);
    font-size: 1.3rem;
    font-family: var(--text-main);
    display: flex;
    align-items:center;
}

.chatTitle {
    padding-left: 1rem;
}

.mainScreen {
    display:flex;
    height: 95%;
    flex-shirnk: 1;
    flex-direction: column;
}

.conversationScreen {
    overflow: auto;
    height: 100%;
    flex-shirnk: 1;
}

.msgContainer {
    display: flex;
    width: 100%;
    height:55px;
    justify-content:center;
    align-self: flex-end;
    padding: 0.5rem;
    flex-shirnk: ;

}

.textContainer {
    background-color: var(--color-mid-grey);
    flex-grow:1;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 1rem;
    padding: 0 12px 0 12px;
}

.msgText {
    padding: 10px;
    border: none;
    resize: none;
    height: auto;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    flex-grow: 1;
    max-height: 90px; 
    word-break: nowrap;
}


.imgBtn {
    background-color:transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.imgBtn:hover {
    background-color: var(--color-grey);
}

.imgBtn:disabled:hover {
    background-color:transparent;
    cursor: auto;
}

.imgIcon {
    font-size: 1.3rem;
}

.sendBtn {
    width: 60px;
    padding: 12px;
    margin-left: 0.5rem;
    background-color:var(--color-royal-blue);
    color:white;
    border-radius: 0.5rem;
}

.sendBtn:disabled{
    background-color: var(--color-mid-grey);
}

.sendBtn:disabled:hover {
    background-color: var(--color-mid-grey);
    filter: none;
    cursor:auto;
}

.exitBtn {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 1rem;
}

.titleSubContainer {
    flex-grow:1;
    display: flex;
    align-items: center;
}
.exitIcon {
    font-size: 1.3rem;
}

.loadingSpinner {
    display: flex;
    justify-content:center;
}

.editIcon {
    margin-left: 0.5rem;
    width: 23px;
    height: 23px;
    border-radius:100%;
    padding: 2px;
}

.editIcon:hover {
    background-color: var(--color-grey);
}

.editChatNameContainer {
    margin-left: 0.5rem;
    height: 1.2rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.editBtn {
    margin-left: 0.5rem;
    background: var(--color-mid-grey);
    color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: var(--color-royal-blue);
}

.cancelBtn {
    margin-left: 0.5rem;
    background: red;
    color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.messageEndRef {
    height: 5px;
}