.chatCard {
    height: 65px;
    border-bottom: 2px solid var(--color-border);
    display: flex;
    align-items: center;
    font-size: 12px;
}

.chatCard:hover {
    background-color: var(--color-light-grey);
    filter: brightness(0.9);
    cursor: pointer;
}

.selectedChatCard {
    background-color: var(--color-mid-grey);
}

.selectedChatCard:hover {
    background-color: var(--color-mid-grey);
    filter: none;
    cursor: auto;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    flex-grow: 1;
    max-width: 250px;
}

.chatImg {
    flex-grow: 1;
    height: auto;
    min-width: 20px;
    min-height: 20px;
}

.recentTime {
    font-weight: bold;
    color: var(--color-grey);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.chatTitle, .recentMsg {
    white-space:nowrap;
    overflow: hidden;          
    text-overflow: ellipsis;  
}

.chatTitle {
    flex-grow: 1;
    font-weight: bold;
}

.recentMsg {
    color: var(--color-recent-message);
    flex-grow: 1;
    max-width: 200px;
}

.pictureImage {
    font-size: 3rem;
}


.topLine {
    display: flex;
    flex-grow: 1;
}

.bottomLine {
    display: flex;
    align-items:center;
}

.unreadMessageCounter {
    margin-right: 0.5rem;
    border-radius: 100%;
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.profileBox {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    gap:1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid var(--color-grey)
}

.noParticipants {
    width: 50px;
    height: 48px;
    background: linear-gradient(45deg, orange 25%, white 0, white 50%, orange 0, orange 75%, white 0 );
    background-size:42.4px 42.4px;
}