.userCard {
    display: flex;
    justify-content: center;
    align-item: center;
    padding: 0.5rem;
    height: 15%;
    width: 100%;
}

.userCard:hover {
    background-color: var(--color-light-grey);
    cursor: pointer;
}

.userImg {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.userName {
    flex-grow: 1;
    align-self:center;
}

.requestBtn {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-blue);
    color:white;
}

.requestBtnInactive {
    background-color:orange;
}

.requestBtnInactive:hover {
    cursor: not-allowed;
    background-color:orange;
    filter:brightness(1);
}

.requestedBtn {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color:var(--color-grey);
    color:white;
}

.requestedBtn:hover {
    cursor: not-allowed;
    filter:brightness(1);
}
