.navMenu {
    background-color:#DAE0E6;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    border-right: 1px solid orange;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index:1;
}

.toggle {
    height:3rem;
    color: grey;
}

.closeBtn {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color: black;
}

.navMenuActive {
    left: 0;
    transition: 350ms;
}

.label {
    display:flex;
    align-items: center;
    justify-content: center;
}

.stick {
    border: none;
    border-top: 1px dotted black;
    height: 1px;
    width: 30%;
}

