.friendContainer {
    display:flex;
    justify-content: left;
    align-items: center;
    width: 299px;
    height: 90px;
    padding-left: 8px;
    border-bottom: 1px solid var(--color-royal-blue);
    background-color:white;
}

.friendContainer:hover {
    background-color:var(--color-light-grey)
}

.friendSubContainer {
    display:flex;
    flex-direction: column;
    align-items: left;
    margin-left: 0.5rem;
    width: 200px;
    height: 70px;
    text-align: left;
}

.friendImg {
    width: 70px;
    border-radius: 0.3rem;
    border: 1px solid black;
}

.friendName, .friendStatus {
    width:200px;
}

.friendName {
    color: #26AFFD;
}

.friendStatus {
    word-break: break-all;
    font-size: 0.8rem;
}
