.friendContainer {
    display:flex;
    justify-content: left;
    align-items: center;
    background-color: lightgreen;
    width: 250px;
    height: 75px;
    padding-left: 8px;
}

.friendSubContainer {
    display:flex;
    flex-direction: column;
    align-items: left;
    margin-left: 0.5rem;
    width: 200px;
    text-align: left;
}

.friendProfile {
    font-size: 3.5rem;
}

.friendName, .friendStatus {
    width:200px;
}
