.dropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #888;
    font-family: Arial, sans-serif;
    width: 100px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.item {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    height: 30px;
}

.item:hover {
    background-color: #f0f0f0;
}